body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}

.main-logo {
    float: left;
    margin-top: 20px;
}
.navbar-nav{
    text-decoration: none;
    margin-top: 20px;

}
.navbar-nav li a:hover{
    border-radius: 4px;
    color:#fff;
    background-color: #19528d;
}
.grey-text{
    color:#838282;
}

#jumbotron{
    //background: url(../img/) ;
    margin-bottom: 60px;
}
.jmb-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----Main content-------*/
#main-content{

}

.main-con-title{
    font-size: 18px;
    margin-bottom: 0;
}
.md-grey-text{
    font-size: 13px;
    font-weight: bold;
    color: #888888;
}
.row-item{
    margin-top: 100px;
}
.content-img{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bold-title{
    font-weight: bold;
    font-size: 14px;
}
.gray-text{
    font-size: 12px;
    color: #666666;
}
/*-----Prufen-------*/
#prufen{
    margin: 150px 0 0;
    background-color: #19528d;
}
.row-item-pruf{
    padding: 15px 0;
}
.pruf-text{
    color:#fff;
    padding-bottom: 5px;
}
.pruf-btn{
    margin-left: 30px;
    color:#1e679f;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}






/*-----Footer-------*/


























/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1200px){

}
/*Medium Devices, Desktops*/
@media only screen and (max-width:992px){

}
/*Small Devices, Tablets*/
@media only screen and (max-width:600px){

}
/*Extra Small Devices, Phones*/
@media only screen and (max-width:480px){

}