@font-face{
    font-family:"Neuzeit Grotesk W01 Reg1487164";
    src:url("/fonts/1487164/76cc538f-bd82-4bd9-a19c-d28eb529ad11.eot?#iefix");
    src:url("/fonts/1487164/76cc538f-bd82-4bd9-a19c-d28eb529ad11.eot?#iefix") format("eot"),url("/fonts/1487164/d33f718f-1aa2-43db-ad60-7d79aa87de0a.woff2") format("woff2"),url("/fonts/1487164/2d76f703-cb26-46a0-954a-53cc641b9b3b.woff") format("woff"),url("/fonts/1487164/3b12e571-5103-4d94-9ba8-2dc8e8ff6550.ttf") format("truetype");
}
@font-face{
    font-family:"NeuzeitGro W01 Bold";
    src:url("/fonts/1487168/66182542-0bb8-41e7-94b8-f45d24bea18d.eot?#iefix");
    src:url("/fonts/1487168/66182542-0bb8-41e7-94b8-f45d24bea18d.eot?#iefix") format("eot"),url("/fonts/1487168/8dfba670-079e-4879-8b0a-8d079ab7c067.woff2") format("woff2"),url("/fonts/1487168/218401dc-d400-4482-8c9b-0527059f7559.woff") format("woff"),url("/fonts/1487168/ace900f9-272b-4efa-88b0-6f2b1adc0f41.ttf") format("truetype");
}
body{
    background: #fff;
    font-family: 'Neuzeit Grotesk W01 Reg1487164', sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}

.main-logo {
    float: left;
    margin: 30px 0;
    height: 40px;
}
.navbar{
    margin: 0;
}
.navbar-nav{
    text-decoration: none;
    margin-top: 25px;

}
.navbar-toggle{
    border: 2px solid #19528d;
    margin-top: 20px;
}
.icon-bar {
    background-color:#19528d !important;
}
.navbar-nav li a:hover{
    border-radius: 4px;
    color:#fff;
    background-color: #19528d;
}
.grey-text{
    color:#838282;
}

#jumbotron{
    margin-bottom: 60px;
    background: url(../img/header_img.png) ;
    width: 100%;
    height: 250px;

}
.jmb-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;

}
.main-slogan{
    color:#fff;
    font-size: 20px;
    padding-left: 100px;
    margin: 0;
}
.main-slogan-sec{
    color:#fff;
    font-size: 20px;
    padding-left: 100px;
    margin: 5px 0 0;
}
.bold-text{
    font-weight: bold;
    color:#fff;
}
.jumb-cont{
    padding-top: 60px ;
}

/*-----Main content-------*/
.main-con-title{
    font-size: 18px;
    margin-bottom: 0;
}
.md-grey-text{
    font-size: 13px;
    font-weight: bold;
    color: #888888;
}
.row-item{
    margin-top: 100px;
}
.content-img{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bold-title{
    font-weight: bold;
    font-size: 14px;
}
.gray-text{
    font-size: 12px;
    color: #666666;
}
/*-----Prufen-------*/
#prufen{
    margin: 150px 0 0;
    background-color: #19528d;
}
.row-item-pruf{
    padding: 28px 0;
}
.pruf-text{
    font-size: 30px;
    color:#fff;
    padding-bottom: 5px;
}
.pruf-btn{
    margin-left: 30px;
    color:#1e679f;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

/*-----Footer-------*/
#footer{
    background-color: #4a4a4a;
    padding: 120px 0;
}
#footer a{
    color: #fff;
    font-size: 14px;
}
#footer p{
    color: #fff;
    font-size: 14px;
}
#footer h4{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 70px 0 0;
    padding: 0 0 15px;
}
.social{
    margin-top: 30px;
}
.soc-img{
    height: 30px;
    width: 6%;
}

/*----Sec page------*/
.title-row{
    margin-bottom: 50px;
}
.content-bord{
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.content-bord p{
    padding-bottom: 30px;
}
.row-item-col {
    padding: 10px 0 0 20px;
}
.row-item-sec p{
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    max-width: 50%;
}

/*----------Third Page-----------*/
.form-group label{
    float: right;
    padding: 7px 0 0 25px;
    color: #19528d;
}
.btn-group-vertical button{
    padding: 10px 40px;
    margin: 15px 0;
    border-radius: 4px;
    color: #19528d;
}
.btn-group-vertical button:hover{
    color:#fff;
    background-color: #19528d;
}
.btn-image{
    width: 18%;
    float:left;
    padding: 0 5px;
}
.btn{
    padding: 0;
}
.big-btn{
    width: 80%;
    background-color: #19528d;
    margin: 5px 0;
}
.big-btn-group{
    margin-top: 40px;
}
.sec-bord{
    margin-top:108px;
}
.content-bord-alt {
    margin-bottom: 40px;
}
.content-bord-alt p{
    padding-bottom: 30px;
}
.asterisk-text{
    margin-top: 50px;
    margin-bottom: 100px;
}

/*------Main-------*/
#jumbotron-main{
    background: url(../img/imgpsh_fullsize.jpg) ;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.jumb-cont-main{
    padding: 160px 0 0 40px;
}
#jumbotron-main .big-btn-group{
    margin-left: 100px;
}
.big-btn-group h4{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 60px 0 16px;
}
.big-btn-group button{
    width: 80%;
    margin: 10px 0;
    border: 2px solid #19528d;
    font-weight: bold;
    color:#19528d;
    background-color: #fff;
}
.big-btn-group button:hover{
    width: 80%;
    background-color: #19528d;
    margin: 10px 0;
    border: 2px solid #19528d;
    color: #fff;
}
.big-btn-group span{
    display: block;
    padding-top: 8px;
}
.big-btn-group a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    display: block;
}
#prufen-main{
    background-color: #19528d;
}
#main-content-top{
    padding-left: 40px;
    margin: 120px 0;
}
#main-content-top h4{
    font-weight: bold;
    font-size: 16px;
}
#main-content-top p {
    font-size: 14px;
}
#main-content-top img{
    width: 20%;
}
#main-content-bot h2{
    margin: 70px 0 120px;
}
#main-content-bot p{
    font-weight: bold;
}
#main-content-bot img{
    width: 35%;
    height: 78px;
    margin: 30px 0 55px;
}
#main-content-bot button{
    padding: 10px 15px;
    color: #fff;
    background-color: #19528d;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px 0 160px;
}
#main-content-bot .btm-row{
    margin: 100px 0 40px;
}
.btm-row {
    margin-top: 30px;
}

#jumbotron-btm{
    background-repeat: no-repeat;
    background: url(../img/header_img.png) ;
    margin-bottom: 60px;
    width: 100%;
    height: 250px;
}
#jumbotron-btm h2{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
}
#jumbotron-btm button{
    padding: 10px 15px;
    color: #19528d;
    background-color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px 0 170px;
}

#slider{
    margin:150px 0 220px;
}
.carousel-indicators{
    bottom: -100px;
    left: 350px;
}
.carousel-indicators li {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 20px 0;
}
.carousel-indicators .active {
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: #fafafa;
    padding: 20px 0;
}
.carousel-indicators img {
    width: 60%;
}
.carousel-inner h2{
    padding: 80px 45% 0 0;
    color: #19528d;
}

.carousel-inner p{
    padding: 0 48% 100px 170px;
}
.carousel-control.right, .carousel-control.left {
    background-image:none;
}
.carousel-control img{
    padding-top: 80px;
}






/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1200px){

}
/*Medium Devices, Desktops*/
@media only screen and (max-width:992px){

}
/*Small Devices, Tablets*/
@media only screen and (max-width:600px){

}
/*Extra Small Devices, Phones*/
@media only screen and (max-width:480px){
    .main-logo{
        width: 70%;
    }
    .main-slogan, .main-slogan-sec{
        padding: 0;
    }
    #jumbotron-main .big-btn-group{
        margin: 0;
    }
    #main-content-top img{
        margin:5px;
    }
    #main-content-bot img{
        height: 100px;
    }
    #jumbotron-btm h2{
        font-size: 25px;
        padding: 5px;
    }
    .carousel-inner h2{
        padding: 80px 3% 0 0;
    }
    .carousel-inner p{
        padding: 0 30% 240px 60px;
    }
    .carousel-control.right, .carousel-control.left{
        display: none; !important;
    }
    .carousel-indicators{
        left: 60px;
    }
    #slider{
        display: none; !important;
    }
    #footer{
        padding-bottom: 20px;
    }
    #footer h4{
        font-size: 20px;
        margin-top: 40px;
    }
    #footer p{
        font-size: 16px;
    }#footer a{
         font-size: 16px;
     }
    .soc-img{
         height: 60px;
         width: 17%;
    }
}